* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: #1c1c1c;
  color: white;
  padding: 50px 0px;
}

footer {
  color: white;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

/* UTILITIES  */

/* HEADER */
.logo-header {
  margin: 20px 0px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
  padding-top: 60px;
}

.menu li {
  margin: 0px 15px;
  font-size: 15px;
}

.menu li a.active {
  border-bottom: 5px solid #0080f5;
}

.menu li a.active {
  color: #0080f5;
}

.menu li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* FOOTER */
/* Top Footer */
.top-footer {
  background-color: #0080f5;
  padding: 50px 0px;
  position: relative;
  z-index: 2;
}

.icons-list {
  display: flex;
  justify-content: space-around;
}

.icons-list img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  margin-right: 10px;
  object-fit: contain;
}

.icons-list span {
  vertical-align: middle;
}

/* Middle Footer */
.middle-footer {
  height: 400px;
  background-image: url("../img/footer-bg.jpg");
}

.menu-footer {
  display: flex;
}

.col-33 h2 {
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: 20px;
}

.col-33 ul li {
  color: rgb(174, 174, 174);
  list-style: none;
  font-size: 15px;
}

.background-dc {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  height: 480px;
  position: fixed;
  z-index: 1;
  bottom: 100px;
  right: -70px;
}

/* Bottom Footer */
.bottom-footer {
  background-color: #303030;
  height: 100px;
}

.sign-up {
  display: flex;
  align-items: center;
}

.sign-up p {
  margin-top: 35px;
  border: 2px solid #0080f5;
  padding: 10px;
}
.sign-up a {
  text-decoration: none;
  color: white;
}

.socials {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socials a {
  padding-left: 15px;
}
