* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: #1c1c1c;
  color: white;
  padding: 25px 0px;
}

footer {
  color: white;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

/* UTILITIES  */

/* HEADER */
.logo-header {
  margin: 20px 0px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
  padding-top: 60px;
}

.menu li {
  margin: 0px 15px;
  font-size: 15px;
}

.menu li.active {
  border-bottom: 5px solid #0080f5;
}

.menu li.active a {
  color: #0080f5;
}

.menu li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* FOOTER */
.top-footer {
  background-color: #0080f5;
  padding: 30px 0px;
}


.icons-list {
  display: flex;
  justify-content: space-around;
}

.icons-list img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 10px;
  object-fit: contain;
}

.icons-list span {
  vertical-align: middle;
}